.timerContainer {
  position: relative;
  width: 80px;
  height: 80px;
}

.clockBase {
  width: 100%;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #333;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
  bottom: 50%;
}