.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* Fundo preto para destaque da logo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logoContainer {
  text-align: center;
}

.logoText {
  font-family: 'Special Elite', monospace;
  font-size: 5rem;
  color: #fff;
  letter-spacing: 15px;
  margin: 0;
  animation: pulse 1.5s infinite ease-in-out;
}

.loaderLine {
  width: 100%;
  height: 2px;
  background: #444;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.loaderLine::after {
  content: "";
  position: absolute;
  left: -50%;
  width: 50%;
  height: 100%;
  background: #fff;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from { left: -50%; }
  to { left: 100%; }
}

@keyframes pulse {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}